<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Trivia Quiz</title>
</head>

<!-- stylesheet -->
<link rel="stylesheet" href="/css/styles.css">

<!-- fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&family=Turret+Road:wght@200;300;400;500;700;800&display=swap" rel="stylesheet">

<body>

  <div class="main-title">
    <h1>Trivia Quiz</h1>
  </div>


  <div class="question-number">
    <h2>Question <%= questionNumber %>/10</h2>
  </div>

  <div class="question">
    <span class="question-text"><%= round_questions[questionNumber - 1].question %></span>
  </div>


  <div class="answers">

    <% for(var i = 0; i < round_questions[questionNumber - 1].answerchoices.length; i++){ %>

    <div class="answer-choice">

    <% if(selected_answer == correct_answer){ %>
      <%  if(selected_answer == round_questions[questionNumber - 1].answerchoices[i]){ %>
          <div class="answer-choice" style="background-color: green"><%= round_questions[questionNumber - 1].answerchoices[i] %></div>
    <%    } else { %>
        <div class="answer-choice"><%= round_questions[questionNumber - 1].answerchoices[i] %></div>
    <%  } %>
    <% } else { %>
    <%    if(selected_answer == round_questions[questionNumber - 1].answerchoices[i]){ %>
          <div class="answer-choice" style="background-color: red"><%= round_questions[questionNumber - 1].answerchoices[i] %></div>
    <%    } else { %>
        <div class="answer-choice"><%= round_questions[questionNumber - 1].answerchoices[i] %></div>
    <%  } %>
    <%  }%>


    </div>
    <br />

    <% } %>

    <% if(selected_answer != correct_answer){ %>
      <div class="answer-choice">The correct answer is: <%= correct_answer %></div>
    <% } %>

  </div>


  <div class="next-question">

  <%  if(questionNumber < 10){ %>

      <form action="/quizquestions/<%= questionNumber %>" method="post">
        <button type="submit" name="button" class="next-button">Next Question</button>

      </form>

  <%  } else { %>
        <a href="/quizscore"><button type="submit" name="button" class="submit-button">Submit</button></a>


  <%  } %>

  </div>


</body>

</html>
